* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

li{text-decoration: none;}
Link{
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
  background-color: white;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}